@page
@model Product_View.Views.Home.NewProductModel
<h1>New product page</h1>
<form method="get" action="/Home/Add">
    <p>Производитель: </p>
    <input type="text" name="manufacturer" />
    <p>Модель: </p>
    <input type="text" name="model" />
    <p>Цена: </p>
    <input type="text" name="price" />
    <input type="submit" value="Отправить" />
</form>
